<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Retour</a>
    </nav>
    <div class="history">
        <h2>Historique</h2>
        {% for data in result %}
        <div>
            {{ data[4] }} : <b>{{data[3]}}</b> - {{data[2]}} de {{data[6]}} le quota restant de cette utilisateur est de :  {{data[8]}}
        </div>
        {% endfor %}
        <p>
            <strong>Ham</strong> = Message non spam<br>
            <strong>Spam</strong> = Message contenant ['free', 'win', 'cash', 'prize', 'call now', 'urgent']
        </p>
    </div>
</body>
</html>
