<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam_Classifier</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/history">Historique</a>
    </nav>
    <br>
    <br>
    <form method="get" action="/check">
        <label for="user">User :</label>
        <input type="text" name="user" />
        <br>
        <br>
        <label for="message">Message :</label>
        <input type="text" name="message" />
        <br>
        <br>
        <input type="submit" value="Valider" />
    </form>
</body>
</html>
