<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam_Classifier</title>
</head>
<body>

    <a href="/history"> Historique </a>
    <br>
    <br>
    <form method="get" action="/check"> 

        <Label for="user"> User :  </Label>
        <input type="text" name="user" required/>
        <br>
        <br>
     <!--  <Label for="password"> Password :  </Label>
        <input type="password" name="password" required/>--> 
        <br>
        <br>
        <Label for="message"> Message :  </Label>
        <input type="text" name="message" required/>
        <br>
        <br>
        <input type="submit" value="Validé"/> 
    </form>
</body>
</html>